@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
  background-color: #fdfdfd;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.banner {
  background-image: url("/mask.png");
  background-repeat: no-repeat;
  background-size: cover;
} 

#header{
  width: 90%;
}

.about{
  background-image: url("/BG2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

